<!DOCTYPE html>
<html lang="en">
<head>
  <title>NITC Central Library Administration</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <div class="page-header">
    <h1 style="text-align: center; background-color:lavender;">NITC Central Library Administration</h1>
  </div>
    <div class="row">
	<div class="col-md-4" style="text-align: center;background-color:lavender;"><a href="{% url 'admin:index'%}?next={{request.path}}" class="btn btn-lg btn-primary">Admin Interface</a></div>
	<div class="col-md-4" style="text-align: center;background-color:lavender;"><a href="{% url 'readwrite'%}?next={{request.path}}" class="btn btn-lg btn-primary">Read/Write</a></div>
	<div class="col-md-4" style="text-align: center;background-color:lavender;"><a href="#" class="btn btn-lg btn-primary ">Gate Failures</a></div>
</div>
</div>
</body>
</html>
