<html>
<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>

<h4>You must be logged in to see readwrite page</h4>
<form method="POST">
{% csrf_token %}
{% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
{% endfor %}
<input type="submit" value="Submit">
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
</form>
</html>





<!-- 



<html>
    <head>
        <title></title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h1>Login to Read and Write</h1>
            <div style="width:30%">
                <form action="">
                    {%csrf_token%}
                    {% for error in form.non_field_errors %}
                    <div class="form-group has-errors text-danger small">
                        {{error}}
                    </div>
                    {% endfor %}
                    {% for field in form %}
                    <div class="form-group has-errors text-danger small">
                        {{field.errors}}
                    </div>
                    <div class="form-group has-errors text-danger small">
                    </div>
                    <div class="form-group">
                        {{field}}
                    </div>
                    {% endfor %}
                    <button class="btn btn-primary" style="width:100%">Login</button>
            </div>
            </form>
        </div>
    </body>
</html> -->